* {
  font-family: system-ui;
  font-size: 12px;
  font-weight: bold;
}

#waybar {
  background: transparent;
}

#waybar.hidden {
  opacity: 0.2;
}

#workspaces button,
.modules-right > widget > * {
  background: #222;
  color: #f1f1f1;
  border-radius: 16px;
  box-shadow: none;
  text-shadow: none;
  padding: 0 16px;
  margin-bottom: 12px;
  transition: none;
}

#workspaces button {
  margin-right: 6px;
}

#workspaces button:first-child {
  margin-left: 12px;
}

#workspaces button.focused {
  background-color: #f1f1f1;
  color: #222;
}

#workspaces button:hover {
  box-shadow:
    inset 0 0 0 1px #fff,
    inset 0 0 0 2px #000;
}

#workspaces button.urgent {
  background-color: #eb4d4b;
  color: #fff;
}

.modules-right > widget > * {
  margin-left: 6px;
}

.modules-right > widget:last-child > * {
  margin-right: 12px;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  background-color: #eb4d4b;
}
