* {
  color: #fff;
  font-family: system-ui;
  font-size: 12px;
  font-weight: bold;
  min-height: 0;
}

#waybar {
  background: rgba(0, 0, 0, 0.5);
  transition-property: background-color;
  transition-duration: 0.5s;
}

#waybar.hidden {
  opacity: 0.2;
}

#workspaces button {
  background: transparent;
  border: none;
  border-top: 2px solid transparent;
  border-radius: 0;
  padding: 8;
}

#workspaces button.focused {
  background-color: rgba(255, 255, 255, 0.1);
  border-top-color: #fff;
}

#workspaces button:hover {
  background: rgba(255, 255, 255, 0.2);
  border-top-color: #aaa;
  box-shadow: none;
  text-shadow: none;
}

#workspaces button.urgent {
  background-color: #eb4d4b;
}

#mode {
  background-color: rgba(255, 255, 255, 0.1);
  border-top: 2px solid #fff;
}

.modules-right > widget {
  background: transparent;
  padding: 8;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  background-color: #eb4d4b;
}
