/dev-env/neovim/.netrwhist
/dev-env/neovim/plugin
/dev-env/neovim/undo-dir
/seniore/target
/liferay/api/types/generated

/home/.config/*
!/home/.config/alacritty/
!/home/.config/environment.d/
/home/.config/environment.d/*
!/home/.config/environment.d/*.public.env.conf
!/home/.config/i3/
!/home/.config/nushell/
/home/.config/nushell/history.txt
!/home/.config/nushell/config.nu
!/home/.config/nushell/env.nu
!/home/.config/rofi/
!/home/.config/sway/
!/home/.config/tmux/
!/home/.config/nvim/init.lua
