[color]
  ui = true

[core]
  editor = nvim
  ignorecase = false
  excludesfile = $CHACHI_PATH/home/.config/git/gitignore-global
  pager = delta --light
  untrackedcache = true
  fsmonitor = true

[interactive]
  diffFilter = delta --light --color-only --features=interactive

[delta]
  features = decorations

[delta "interactive"]
  keep-plus-minus-markers = false

[delta "decorations"]
  commit-decoration-style = blue ol
  commit-style = raw
  file-style = omit
  hunk-header-decoration-style = blue box
  hunk-header-file-style = red
  hunk-header-line-number-style = "#067a00"
  hunk-header-style = file line-number syntax

[diff]
  renames = true
  renameLimit = 5000
  tool = neovim

[difftool]
  prompt = false

[difftool "neovim"]
  cmd = nvim -d $LOCAL $REMOTE

[difftool "vscode"]
  cmd = code --wait --diff $LOCAL $REMOTE

[commit]
  gpgsign = true

[gpg]
  format = ssh

[help]
  autocorrect = 0

[merge]
  tool = neovim

[mergetool]
  prompt = false

[mergetool "neovim"]
  cmd = nvim -d $MERGED

[mergetool "vscode"]
  cmd = code --wait $MERGED

[pull]
  rebase = true

[push]
  default = current

[rebase]
  autoStash = true

[user]
  name = Pablo Molina
  email = contact@pablomolina.me
  username = p2kmgcl
  signingkey = ~/.ssh/id_rsa.pub

[alias]
  h = !git config -l | grep alias.

  cifuentes = !$CHACHI_PATH/home/.config/git/git-cifuentes

  do-checkout-pull-request = !$CHACHI_PATH/home/.config/git/git-do-checkout-pull-request
  do-cherry-pick-search = !$CHACHI_PATH/home/.config/git/git-do-cherry-pick-search
  do-clean-all-non-git-files = clean --force -d -X
  do-clean-local-repository = gc --prune=now --aggressive
  do-ignore-changes-on-file = update-index --assume-unchanged
  do-list-conflict-files = diff --name-only --diff-filter=U
  do-list-files-in-a-commit = ls-tree -r --name-only
  do-make-file-disapear-from-history = !$CHACHI_PATH/home/.config/git/git-do-make-file-disapear-from-history
  do-open-pull-request = !$CHACHI_PATH/home/.config/git/git-do-open-pull-request
  do-show-everyday-help = help everyday

  ada = add --all
  back = reset HEAD~1
  br = branch
  ch = checkout
  cp = cherry-pick
  cpa = cherry-pick --abort
  cpc = cherry-pick --continue
  cm = commit
  cma = commit --amend
  din = diff --name-only
  fea = fetch --all
  lg = log --pretty='%Cgreen%h %Cblue%an (%ar) %Creset%s'
  ps = push
  rb = rebase
  rba = rebase --abort
  rbc = rebase --continue
  rbi = rebase --interactive --autosquash
  rsh = reset --hard
  st = status --short
