[color]
  ui = true

[commit]
  gpgsign = true
  verbose = true

[core]
  editor = nvim
  excludesfile = ~/.config/git/gitignore-global
  fsmonitor = true
  ignorecase = false
  untrackedcache = true
  pager = delta

[delta]
  light = true
  max-line-length = 512
  navigate = true
  paging = never

[diff]
  algorithm = histogram
  context = 0
  renames = true
  renamelimit = 5000

[fetch]
  prune = true
  prunetags = true

[gc]
  auto = 256
  autoPackLimit = 4
  writeCommitGraph = true

[gpg]
  format = ssh

[help]
  autocorrect = prompt

[init]
  defaultBranch = main

[index]
  skipHash = true
  version = 4

[interactive]
  diffFilter = delta --color-only

[log]
  abbrevCommit = true
  decorate = full

[merge]
  conflictstyle = merge
  tool = neovim

[mergetool "neovim"]
  cmd = nvim -d \"$REMOTE\" \"$MERGED\" \"$LOCAL\"
  trustExitCode = false
  prompt = false

[pull]
  rebase = true

[push]
  default = current

[rebase]
  autosquash = true
  autostash = true

[rerere]
  enabled = true

[user]
  email = contact@pablomolina.me
  name = Pablo Molina
  signingkey = ~/.ssh/id_ed25519
  username = p2kmgcl

[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true

[alias]
  h = !git config -l | grep alias.

  cifuentes = !~/.config/git/git-cifuentes

  do-checkout-pull-request = !~/.config/git/git-do-checkout-pull-request
  do-cherry-pick-search = !~/.config/git/git-do-cherry-pick-search
  do-clean-all-non-git-files = clean --force -d -X
  do-clean-local-repository = gc --prune=now --aggressive
  do-ignore-changes-on-file = update-index --assume-unchanged
  do-list-conflict-files = diff --name-only --diff-filter=U
  do-list-files-in-a-commit = ls-tree -r --name-only
  do-make-file-disapear-from-history = !~/.config/git/git-do-make-file-disapear-from-history
  do-open-pull-request = !~/.config/git/git-do-open-pull-request
  do-show-everyday-help = help everyday

  ada = add --all
  back = reset HEAD~1
  br = branch
  ch = checkout
  cm = commit
  cma = commit --amend
  cmw = commit --no-verify -m WIP
  cp = cherry-pick
  cpa = cherry-pick --abort
  cpc = cherry-pick --continue
  din = diff --name-only
  fea = fetch --all --prune
  lg = log --pretty='%Cgreen%h %Cblue%an (%ar) %Creset%s'
  lgi = !~/.config/git/git-log-ids
  pl = pull
  ps = push
  rb = rebase
  rba = rebase --abort
  rbc = rebase --continue
  rbi = rebase --interactive
  rsh = reset --hard
  st = status --short

[include]
  path = ~/.gitconfig.extra
