[color]
  ui = true

[core]
  editor = nvim
  ignorecase = false
  excludesfile = ~/.gitignore-global
  pager = delta --light
  untrackedcache = true

[interactive]
  diffFilter = delta --light --color-only --features=interactive

[delta]
  features = decorations

[delta "interactive"]
  keep-plus-minus-markers = false

[delta "decorations"]
  commit-decoration-style = blue ol
  commit-style = raw
  file-style = omit
  hunk-header-decoration-style = blue box
  hunk-header-file-style = red
  hunk-header-line-number-style = "#067a00"
  hunk-header-style = file line-number syntax

[diff]
  renames = true
  tool = neovim

[difftool]
  prompt = false

[difftool "neovim"]
  cmd = nvim -d $LOCAL $REMOTE

[difftool "vscode"]
  cmd = code --wait --diff $LOCAL $REMOTE

[help]
  autocorrect = 0

[merge]
  tool = neovim

[mergetool]
  prompt = false

[mergetool "neovim"]
  cmd = nvim -d $MERGED

[mergetool "vscode"]
  cmd = code --wait $MERGED

[pull]
  rebase = true

[push]
  default = current

[rebase]
  autoStash = true

[user]
  name = Pablo Molina
  email = contact@pablomolina.me
  username = p2kmgcl
  signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIAZ5LyWCqxK7Kob3TC0wdeJHRUxqh0tO72G5hY84B9yJ

[gpg]
  format = ssh

[gpg "ssh"]
  program = "/opt/1Password/op-ssh-sign"

[commit]
  gpgsign = true

[alias]
  h = !git config -l | grep alias.

  cifuentes = !echo "Getting your master..." && git checkout master && git fetch --all --prune && git checkout upstream/master && git branch -D master && git checkout -b master && git push -u -f origin master && echo "Congrats! You have a master!"
  pushdemont = !echo "Pushing changes..." && sleep 1 && echo "Changes pushed, there is no way back." && echo "" && sleep 2 && echo "..." && sleep 2 && echo "..." && sleep 3 && echo "" && echo "Changes reverted."

  do-clean-all-non-git-files = clean --force -d -X
  do-clean-local-repository = gc --prune=now --aggressive
  do-ignore-changes-on-file = update-index --assume-unchanged
  do-list-conflict-files = diff --name-only --diff-filter=U
  do-list-files-in-a-commit = ls-tree -r --name-only
  do-make-file-disapear-from-history = !git filter-branch --force --index-filter 'git rm --cached --ignore-unmatch $1' --prune-empty --tag-name-filter cat -- --all && git push origin --force --all
  do-show-everyday-help = help everyday

  do-checkout-pull-request="!f(){ git fetch $1 "pull/${2}/head:pr/${1}/${2}"; git checkout "pr/${1}/${2}"; };f"
  do-open-pull-request=!~/.git-do-open-pull-request
  do-list-issues=!gh-wrapper list-issues
  do-list-notifications=!gh-wrapper list-notifications
  do-show-dashboard=!"while [ 1 -eq 1 ]; do clear; gh-wrapper show-dashboard; sleep 900; done"

  ada = add .
  back = reset HEAD~1
  br = branch
  ch = checkout
  cp = cherry-pick
  cpa = cherry-pick --abort
  cpc = cherry-pick --continue
  cm = commit
  din = diff --name-only
  fea = fetch --all
  lg = log --pretty='%Cgreen%h %Cblue%an (%ar) %Creset%s'
  ps = push
  rb = rebase
  rba = rebase --abort
  rbc = rebase --continue
  rbi = rebase --interactive
  rsh = reset --hard
  st = status --short
