[Desktop Entry]
Name=IntelliJ IDEA Ultimate
Icon=/home/p2kmgcl/.local/share/JetBrains/Toolbox/apps/IDEA-U/ch-0/.icon.svg
StartupWMClass=jetbrains-idea
Comment=The most intelligent Java IDE
Exec="/home/p2kmgcl/.local/share/JetBrains/Toolbox/apps/IDEA-U/ch-0/212.5457.46/bin/idea.sh" %u
Version=1.0
Type=Application
Categories=Development;IDE;
Terminal=false
StartupNotify=true