#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Liferay Wiki
Exec=xdg-open https://liferay.atlassian.net/wiki/spaces/~136397786/overview?homepageId=1366163523
Icon=internet
