#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Tweetdeck
Exec=google-chrome --app="https://tweetdeck.twitter.com"
Icon=/home/p2kmgcl/GoogleDrive/Archivo/crayon-icon-pack/twitter.png
StartupWMClass=tweetdeck.twitter.com
