# i3 Configuration
# https://i3wm.org/docs/userguide.html

###############################################################################
# Variables
###############################################################################

set $mod Mod4
set $term alacritty
set $browser firefox
set $menu exec rofi -modi combi -combi-modi drun -show combi
set $fileMenu exec rofi -modi filebrowser -show filebrowser
set $lock ~/Projects/chachi-shell/bin/sway-lock-screen
set $notifyBrightness notify-send -t 1000 "💡 $(~/Projects/chachi-shell/bin/get-brightness)"
set $notifyVolume notify-send -t 1000 "🔉 $(~/Projects/chachi-shell/bin/get-volume)"
set $notifyWoffu notify-send -t 1000 "🌊 Toggling Woffu"
set $screenLaptop eDP-1
set $screenExternal HDMI-1

###############################################################################
# Key bindings
###############################################################################

bindsym $mod+d exec $menu
bindsym $mod+Shift+d exec $fileMenu
bindsym $mod+Return exec $term
bindsym $mod+Shift+Return exec $browser

bindsym $mod+a focus parent
bindsym $mod+Left focus left
bindsym $mod+Down focus down
bindsym $mod+Up focus up
bindsym $mod+Right focus right
bindsym $mod+Shift+Left move left
bindsym $mod+Shift+Down move down
bindsym $mod+Shift+Up move up
bindsym $mod+Shift+Right move right

set $ws1 "1"
set $ws2 "2"
set $ws3 "3"
set $ws4 "4"
set $ws5 "5"
set $ws6 "6"
set $ws7 "7"
set $ws8 "8"
set $ws9 "9"
set $ws10 "10"

bindsym $mod+1 workspace $ws1
bindsym $mod+2 workspace $ws2
bindsym $mod+3 workspace $ws3
bindsym $mod+4 workspace $ws4
bindsym $mod+5 workspace $ws5
bindsym $mod+6 workspace $ws6
bindsym $mod+7 workspace $ws7
bindsym $mod+8 workspace $ws8
bindsym $mod+9 workspace $ws9
bindsym $mod+0 workspace $ws10
bindsym $mod+Shift+1 move container to workspace $ws1
bindsym $mod+Shift+2 move container to workspace $ws2
bindsym $mod+Shift+3 move container to workspace $ws3
bindsym $mod+Shift+4 move container to workspace $ws4
bindsym $mod+Shift+5 move container to workspace $ws5
bindsym $mod+Shift+6 move container to workspace $ws6
bindsym $mod+Shift+7 move container to workspace $ws7
bindsym $mod+Shift+8 move container to workspace $ws8
bindsym $mod+Shift+9 move container to workspace $ws9
bindsym $mod+Shift+0 move container to workspace $ws10

bindsym $mod+s sticky toggle
bindsym $mod+Shift+f floating toggle
floating_modifier $mod
bindsym $mod+f fullscreen

bindsym $mod+r mode "resize"

mode "resize" {
  bindsym Left resize shrink width 128px
  bindsym Down resize grow height 128px
  bindsym Up resize shrink height 128px
  bindsym Right resize grow width 128px
  bindsym Return mode "default"
  bindsym Escape mode "default"
}

bindsym $mod+Shift+q kill
bindsym $mod+Shift+c restart

bindsym XF86AudioRaiseVolume exec pactl set-sink-volume @DEFAULT_SINK@ +5% && $notifyVolume
bindsym XF86AudioLowerVolume exec pactl set-sink-volume @DEFAULT_RSINK@ -5% && $notifyVolume
bindsym XF86AudioMute exec pactl set-sink-mute @DEFAULT_SINK@ toggle
bindsym XF86AudioMicMute exec pactl set-source-mute @DEFAULT_SOURCE@ toggle
bindsym XF86MonBrightnessDown exec brightnessctl set 10%- && $notifyBrightness
bindsym XF86MonBrightnessUp exec brightnessctl set +10% && $notifyBrightness
bindsym XF86AudioPlay exec playerctl play-pause
bindsym XF86AudioNext exec playerctl next
bindsym XF86AudioPrev exec playerctl previous

bindsym Print exec grim -g "$(slurp)" - | swappy -f -
bindsym Ctrl+Print exec $term --class record_screen -e "$HOME/Projects/chachi-shell/bin/sway-record-gif"
bindsym Shift+Print exec $term --class record_screen -e "$HOME/Projects/chachi-shell/bin/sway-record-screen"
bindsym Shift+Ctrl+Print exec $term --class record_screen -e "$HOME/Projects/chachi-shell/bin/sway-record-screen-with-audio"
bindsym Alt+Print exec $term --class record_screen -e "$HOME/Projects/chachi-shell/bin/sway-record-stop"
bindsym $mod+l exec $lock
bindsym $mod+w exec $notifyWoffu && ~/Projects/chachi-shell/bin/woffu-toggle
bindsym $mod+Shift+b exec bluetoothctl connect $HEADPHONES_ID
bindsym $mod+Shift+w output $screenLaptop toggle
bindsym $mod+h exec notify-send "$(cat $HOME/Projects/chachi-shell/config/i3.keybindings.txt)"

###############################################################################
# Behaviour
###############################################################################

for_window [class="record_screen"] move container to workspace number 10

focus_follows_mouse no

# Screen on top of laptop
exec_always xrandr --output $screenExternal --auto --pos 0x0
exec_always xrandr --output $screenLaptop --auto --pos 320x1440

bindswitch --reload --locked lid:on xrandr --output $screenLaptop --off
bindswitch --reload --locked lid:off xrandr --output $screenLaptop --auto

###############################################################################
# Other programs
###############################################################################

exec mako --width 480 --height 1000 --padding "16" --border-size 0 --border-radius 4 --background-color "#000000e0" --text-color "#eeeeee"
exec swayidle before-sleep 'exec $lock'
exec wl-paste -t test --watch clipman store --no-persist
exec ulauncher --hide-window
exec insync start

exec feh --bg-fill $HOME/.background.jpg
exec_always xrdb $HOME/.Xresources

exec_always setxkbmap -layout es
exec dbus-update-activation-environment --systemd WAYLAND_DISPLAY XDG_CURRENT_DESKTOP=sway

###############################################################################
# UI
###############################################################################

default_border pixel 2
default_floating_border normal
hide_edge_borders none

for_window [class="pavucontrol"] floating enable
for_window [class="MPlayer"] floating enable
for_window [title="Picture in picture"] floating enable
for_window [title="Firefox — Sharing Indicator"] floating enable

for_window [window_type="dialog"] floating enable
for_window [window_type="utility"] floating enable
for_window [window_type="toolbar"] floating enable
for_window [window_type="splash"] floating enable
for_window [window_type="menu"] floating enable
for_window [window_type="dropdown_menu"] floating enable
for_window [window_type="popup_menu"] floating enable
for_window [window_type="tooltip"] floating enable
for_window [window_type="notification"] floating enable

for_window [class="jetbrains-(.*)" title="Welcome to IntelliJ IDEA"] floating enable
for_window [class="jetbrains-(.*)" title="win0"] floating enable

client.background #eeeeee88 #eeeeee88 #eeeeee88

# class border background text indicator child_border
client.focused #00000088 #00000088 #eeeeee88 #00000088 #00000088
client.focused_inactive #eeeeee88 #00000088 #eeeeee88 #eeeeee88 #eeeeee88
client.unfocused #eeeeee88 #eeeeee88 #00000088 #eeeeee88 #eeeeee88
client.urgent #eeeeee88 #eeeeee88 #00000088 #eeeeee88 #eeeeee88

font pango:IBM Plex Mono Text 9

bar {
    position bottom
    status_command ~/Projects/chachi-shell/bin/bar-status

    colors {
        statusline #eeeeee88
        background #000000aa
        focused_workspace  #00000088 #eeeeee88 #00000088
        inactive_workspace #00000088 #00000088 #eeeeee88
        urgent_workspace   #00000088 #00000088 #eeeeee88
    }
}
