###############################################################################
# Variables
###############################################################################

set $mod Mod4
set $term alacritty
set $browser google-chrome-stable
set $menu exec ulauncher-toggle
set $background ~/.background.jpg
set $txt #111111
set $dim #AAAAAA
set $bkg #FFC600
set $lock playerctl pause && swaylock -i ~/.background.jpg -s fill --indicator-idle-visible
set $notifyBrightness notify-send -t 1000 "💡 $(~/Projects/chachi-shell/bin/get-brightness)"
set $notifyVolume notify-send -t 1000 "🔉 $(~/Projects/chachi-shell/bin/get-volume)"
set $gnome-schema org.gnome.desktop.interface

###############################################################################
# Key bindings
###############################################################################

bindsym $mod+d exec $menu
bindsym $mod+Return exec $term
bindsym $mod+Shift+Return exec $browser

bindsym $mod+a focus parent
bindsym $mod+Left focus left
bindsym $mod+Down focus down
bindsym $mod+Up focus up
bindsym $mod+Right focus right
bindsym $mod+Shift+Left move left
bindsym $mod+Shift+Down move down
bindsym $mod+Shift+Up move up
bindsym $mod+Shift+Right move right

bindsym $mod+1 workspace number 1
bindsym $mod+2 workspace number 2
bindsym $mod+3 workspace number 3
bindsym $mod+4 workspace number 4
bindsym $mod+5 workspace number 5
bindsym $mod+6 workspace number 6
bindsym $mod+7 workspace number 7
bindsym $mod+8 workspace number 8
bindsym $mod+9 workspace number 9
bindsym $mod+0 workspace number 10
bindsym $mod+Shift+1 move container to workspace number 1
bindsym $mod+Shift+2 move container to workspace number 2
bindsym $mod+Shift+3 move container to workspace number 3
bindsym $mod+Shift+4 move container to workspace number 4
bindsym $mod+Shift+5 move container to workspace number 5
bindsym $mod+Shift+6 move container to workspace number 6
bindsym $mod+Shift+7 move container to workspace number 7
bindsym $mod+Shift+8 move container to workspace number 8
bindsym $mod+Shift+9 move container to workspace number 9
bindsym $mod+Shift+0 move container to workspace number 10

bindsym $mod+b splith
bindsym $mod+v splitv

bindsym $mod+s layout stacking
bindsym $mod+w layout tabbed
bindsym $mod+e layout toggle split

bindsym $mod+f fullscreen
bindsym $mod+Shift+f floating toggle
floating_modifier $mod normal

bindsym $mod+r mode "resize"

mode "resize" {
  bindsym Left resize shrink width 128px
  bindsym Down resize grow height 128px
  bindsym Up resize shrink height 128px
  bindsym Right resize grow width 128px
  bindsym Return mode "default"
  bindsym Escape mode "default"
}

bindsym $mod+Shift+q kill
bindsym $mod+Shift+c reload
bindsym $mod+Shift+e exec swaynag -t warning \
  -m 'You pressed the exit shortcut. Do you really want to exit?' \
  -B 'Yes, exit' 'swaymsg exit'

bindsym XF86AudioRaiseVolume exec pactl set-sink-volume @DEFAULT_SINK@ +5% && $notifyVolume
bindsym XF86AudioLowerVolume exec pactl set-sink-volume @DEFAULT_SINK@ -5% && $notifyVolume
bindsym XF86AudioMute exec pactl set-sink-mute @DEFAULT_SINK@ toggle
bindsym XF86AudioMicMute exec pactl set-source-mute @DEFAULT_SOURCE@ toggle
bindsym XF86MonBrightnessDown exec brightnessctl set 10%- && $notifyBrightness
bindsym XF86MonBrightnessUp exec brightnessctl set +10% && $notifyBrightness
bindsym XF86AudioPlay exec playerctl play-pause
bindsym XF86AudioNext exec playerctl next
bindsym XF86AudioPrev exec playerctl previous

bindsym Print exec grim -g "$(slurp)" - | swappy -f -
bindsym Ctrl+Print exec $term --class record_screen -e "$HOME/Projects/chachi-shell/bin/record-screen"
bindsym Shift+Ctrl+Print exec $term --class record_screen -e "$HOME/Projects/chachi-shell/bin/record-screen-with-audio"
bindsym $mod+l exec $lock

###############################################################################
# Behaviour
###############################################################################

for_window [app_id="record_screen"] move container to workspace number 10

focus_follows_mouse no

input type:keyboard {
  xkb_layout "es"
}

input type:touchpad {
  dwt enabled
  tap enabled
  natural_scroll enabled
}

###############################################################################
# Other programs
###############################################################################

exec mako --padding "16" --border-size 0 --border-radius 4 --background-color "#000000e0" --text-color "#ffffff"
exec swayidle before-sleep 'exec $lock'
exec wl-paste -t test --watch clipman store --no-persist
exec --no-startup-id ulauncher --hide-window
exec --no-startup-id insync start

###############################################################################
# UI
###############################################################################

seat seat0 xcursor_theme default 48

default_border pixel 2
default_floating_border normal
hide_edge_borders none
gaps inner 2

for_window [app_id="ulauncher"] floating enable
for_window [app_id="ulauncher"] border none

output * {
  bg $bkg solid_color
  bg $background fill
}

# class                 border background text indicator child_border
client.focused          $txt   $bkg       $txt $bkg      $txt
client.focused_inactive $txt   $txt       $txt $bkg      $txt
client.unfocused        $dim   $dim       $txt $bkg      $dim
client.urgent           $bkg   $txt       $txt $bkg      $txt
client.placeholder      $txt   $txt       $txt $bkg      $txt

font pango:IBM Plex Sans Text 10

exec_always {
    gsettings set $gnome-schema gtk-theme 'Arc'
    gsettings set $gnome-schema icon-theme 'Arc'
    gsettings set $gnome-schema cursor-theme 'Adwaita'
    gsettings set $gnome-schema font-name 'IBM Plex Sans weight=450 10'
}

bar {
    position bottom
    status_command while ~/Projects/chachi-shell/bin/bar-status; do sleep 2; done

    colors {
        statusline #ffffff
        background #323232
        # workspace        border  bg       text
        focused_workspace  #323232 $bkg     $txt
        inactive_workspace #323232 #484848  $dim
        urgent_workspace   #900000 #900000  $dim
    }
}
