format = """
$username\
$hostname\
$directory\
$git_branch\
$git_state\
$line_break\
$character"""

add_newline = false
command_timeout = 500

[directory]
style = "blue"

[character]
success_symbol = "[❯](purple)"
error_symbol = "[❯](red)"
vimcmd_symbol = "[❮](green)"

[git_branch]
format = "[$branch]($style)"
style = "bright-black"

[custom.git_status_safe]
shell = ["sh", "--noprofile", "--noprofile"]
command = "~/.config/starship/git-status-safe.sh"
when = "test -x ~/.config/starship/git-status-safe.sh"
require_repo = true
ignore_timeout = true
format = "[$output]($style)"
style = "cyan"

[git_state]
format = '\([$state( $progress_current/$progress_total)]($style)\) '
style = "bright-black"
