#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Parsec
Exec=~/.parsec-bin/usr/bin/parsecd
Icon=~/.parsec-bin/parsec.png
