[Unit]
Name=chachi-wl-paste.service
PartOf=chachi-sway-session.target

[Service]
ExecStart=/usr/bin/wl-paste -t test --watch clipman store --no-persist
