[Unit]
PartOf=chachi-sway-session.target

[Service]
ExecStart=/usr/bin/mako --default-timeout 10000 --markup 1 --actions 1 --width 480 --height 1000 --padding "16" --border-size 0 --border-radius 4 --background-color "#000000e0" --text-color "#eeeeee"
