[Unit]
After=graphical-session.target
Wants=graphical-session.target
Wants=chachi-blueman-applet.service
Wants=chachi-cpupower-gui.service
Wants=chachi-insync.service
Wants=chachi-mako.service
Wants=chachi-nm-applet.service
Wants=chachi-polkit-gnome.service
Wants=chachi-wl-paste.service